{% extends 'main/layout.html' %}

{% block title %}Список дел{% endblock %}

{% block content %}
    <div class = "featuring">
        <h1>Список дел</h1>
        <p>Здесь вы можете составить список дел, а также отредактировать его.</p>
        {% if request.user.is_authenticated %}
        <p>Добро пожаловать, {{ request.user }}! Можете приступать к <a href="{% url 'tasks_home' %}">своим делам</a>.</p>
        {% else %}
        <p>Для начала нужно <a href="{% url 'register' %}">зарегистрироваться</a> или <a href="{% url 'login' %}">авторизироваться</a>.</p>
        {% endif %}


    </div>
{% endblock %}