{% extends 'main/layout.html' %}

{% block title %}Фотография{% endblock %}

{% block content %}
<div class="all_photos">
   <div class="single_photo_block">
					<img src="{{ object }}" alt="" class="photo_in_block">
					<div class="like_and_comment_section">
						<div class="like_block">
							<i class="bi bi-suit-heart like_icon"></i>
							<p class="like_counter">{{ object.like_counter }}</p>
						</div>
					</div>
					<input type = "text" placeholder="Оставьте комментарий" class = 'comment_input'>
					<div class="comment_section">
						{% for comment in comments_list %}
						{% if comment.photo_id_id == object.id %}
						<div class="single_comment">
							<h1 class="author_comment">{{ comment.author }}</h1>
							<p class="comment_text">{{ comment.comment_text }}</p>
						</div>
						{% endif %}
						{% endfor %}
					</div>
	 </div>
</div>
{% endblock %}